<h1>Homepage</h1>

<p>This site uses the New York Times API to generate its page content.</p>
<p>API status: <%= @validation.get_status %></p>
<p>Current Version includes <%= @validation.get_num_results %> articles</p>
<p>Last Update: <%= @validation.get_last_updated %> </p>

<table>
  <th>
    <td>Article Title</td>
    <td>External Link</td>
  </th>
  <tr>
    <td><%= @results[0] %></td>
    <% embed = "<td><a href='#{@results[1]}'>test</a></td>" %>
  </tr>
</table>
